.card {
  width: 100%;
  border-color: rgba(241, 236, 236, 0.2);
  height: 200px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
}

.img {
  object-fit: fill;
  height: 50%;
  width: 100%;
}
.footer {
  background-color: aliceblue;
  color: #000;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
}
/* @media screen and (max-width: 425px) {
  .searchbar {
    display: flex;
    justify-content: center;
     width: 80%;
  }
} */
